<div class="wrapper">
  <mat-card class="entry-editor-card">
    <mat-card-header>
      <mat-card-title><h2>Arbeistzeit-Eintrag erfassen</h2></mat-card-title>
    </mat-card-header>
    <mat-card-content>
     <app-entry-editor></app-entry-editor>
    </mat-card-content>
  </mat-card>
  <mat-card class="entry-list-card">
    <mat-card-header>
      <mat-card-title><h2>Ihre Arbeitszeit-Einträge</h2></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-entry-list></app-entry-list>
    </mat-card-content>
  </mat-card>
</div>
