.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6cf62;

  .login-card {
    width: 30%;
    padding: 3%;

    .mat-form-field {
      width: 100%;
    }
  }
}
